<div class="admin-container">

  <section class="form-section">
    <h2>Profile Settings</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onProfileSubmit()">
      <div class="form-row">
        <input formControlName="name" placeholder="Your Name *">
        <input formControlName="role" placeholder="Your Role (e.g., Unity Developer) *">
      </div>
      <div class="form-row">
        <input formControlName="email" placeholder="Contact Email">
        <input formControlName="cvUrl" placeholder="Link to CV (Google Drive/PDF)">
      </div>
      <div class="form-row">
        <input formControlName="photoUrl" placeholder="Link to Profile Photo">
      </div>
      <textarea formControlName="bio" placeholder="Short Bio about yourself..." rows="3"></textarea>

      <div class="form-actions">
        <button type="submit" [disabled]="profileForm.invalid || isSubmittingProfile">
          Save Profile Settings
        </button>
      </div>
    </form>
  </section>

  <section class="form-section">
    <h2>{{ editingProjectId() ? 'Edit Project' : 'Add New Project' }}</h2>
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <input formControlName="previewImageUrl" placeholder="Preview Image URL (.jpg, .png)">
        <input formControlName="videoUrl" placeholder="Direct Video URL (.mp4)">
      </div>

      <textarea formControlName="description" placeholder="Short description..." rows="4"></textarea>

      <div class="form-actions">
        <button type="submit" [disabled]="projectForm.invalid || isSubmittingProject">
          {{ editingProjectId() ? 'Update Project' : 'Save Project' }}
        </button>
        <button type="button" class="btn-cancel" *ngIf="editingProjectId()" (click)="cancelEdit()">
          Cancel
        </button>
      </div>
    </form>
  </section>

  <section class="list-section">
  </section>
</div>
