<div class="portfolio-wrapper">

  <div class="score-tracker">
    <span>🪙 Coins: {{ gameScore() }}</span>
  </div>
  <div class="global-coin"
       [style.top]="coinPosition().top"
       [style.left]="coinPosition().left"
       (click)="catchCoin()">
  </div>

  <section class="hero">
    <div class="hero-content">
      <h1>Hi, I'm {{ profile().name }}</h1>
      <h2 class="accent-text">{{ profile().role }}</h2>
      <p>{{ profile().bio }}</p>

      <div class="action-buttons">
        <a *ngIf="profile().cvUrl" [href]="profile().cvUrl" target="_blank" class="btn-primary">Download CV</a>
        <a *ngIf="profile().email" [href]="'mailto:' + profile().email" class="btn-secondary">Get in Touch</a>
      </div>
    </div>

    <div class="hero-visual">
      <img *ngIf="profile().photoUrl" [src]="profile().photoUrl" alt="Profile Photo" class="profile-img">
    </div>
  </section>

  <section class="projects">
    <h2>Selected Works</h2>
    <div class="grid">
      @for (p of projects(); track p.id) {
      <div class="card" (click)="openProject(p)">
        <div class="card-image">
          <img [src]="p.previewImageUrl || 'https://placehold.co/600x400/eee/999?text=No+Image'" alt="Preview">
          <div class="overlay">
            <span>View Details</span>
          </div>
        </div>
        <div class="card-info">
          <h3>{{ p.name }}</h3>
            <span class="genre">{{ p.genre }}</span>
          </div>
        </div>
      }
    </div>
  </section>

  @if (selectedProject()) {
  <div class="modal-backdrop" (click)="closeProject()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="closeProject()">✕</button>

      <div class="video-container" *ngIf="selectedProject().videoUrl">
        <video [src]="selectedProject().videoUrl" controls></video>
      </div>

      <img *ngIf="!selectedProject().videoUrl && selectedProject().previewImageUrl"
           [src]="selectedProject().previewImageUrl"
           alt="Project Preview"
           class="modal-fallback-img">

      <div class="modal-details">
        <h2>{{ selectedProject().name }}</h2>

        <div class="tags">
          <span class="tag" *ngIf="selectedProject().platform">📱 {{ selectedProject().platform }}</span>
          <span class="tag" *ngIf="selectedProject().genre">🎮 {{ selectedProject().genre }}</span>
          <span class="tag downloads" *ngIf="selectedProject().downloads">⬇️ {{ selectedProject().downloads }} Downloads</span>
        </div>

        <p class="description">{{ selectedProject().description }}</p>

        <a *ngIf="selectedProject().marketLink"
           [href]="selectedProject().marketLink"
           target="_blank"
           class="btn-primary">
          View on Store
        </a>
      </div>
    </div>
  </div>
  }

</div>
